{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app="ridneApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ridnetv{% endblock title %}</title>
    <meta name="description" content="HTML, CSS, JavaScript">
    <meta name="author" content="Rydeychuk">

      <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

     <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <!-- Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <!-- Your stuff: Third-party css libraries go here -->
       <!-- Mobile menu -->
    <link href="{% static 'css/gozha-nav.css' %}" rel="stylesheet" />
    <!-- Select -->
    <link href="{% static 'css/external/jquery.selectbox.css' %}" rel="stylesheet" />

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />

    <!-- Custom -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- This file store project specific CSS -->
{#    <link href="{% static 'css/project.css' %}" rel="stylesheet">#}
    {% endblock %}


 {% block angular %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="{% static 'js/external/angular/angular-ui-router.js' %}"></script>
        {% endblock %}
     <!-- Modernizr -->
    <script src="{% static 'js/external/modernizr.custom.js' %}"></script>
{#    <script src="{% static 'js/external/jquery.layout-latest.js' %}"></script>#}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->

  </head>

  <body ng-controller="ridneControl">
<div class="wrapper">


    <!-- Header section -->
    <header class="header-wrapper header-wrapper--home">
        <div class="container">
            <!-- Logo link-->
            <a ui-sref="main-page" class="logo">
                <img alt='logo' src="{% static 'images/logo.png' %}">
            </a>

            <!-- Main website navigation-->
            <nav  id="navigation-box">
                <!-- Toggle for mobile menu mode -->
                <a ui-sref="main-page" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                </a>

                <!-- Link navigation -->
                <ul id="navigation">
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a ui-sref="full-movie-list">Кіноканали</a>
                        <ul>
                            <li class="menu__nav-item"><a href="/">1+1</a></li>
                            <li class="menu__nav-item"><a href="/">...</a></li>

                        </ul>
                    </li>
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a ui-sref="full-movie-list">Фільми</a>
                        <ul>
                            <li class="menu__nav-item"><a href="#">{{ info.shows }}</a></li>

                        </ul>
                    </li>
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a ui-sref="full-movie-list">Серіали</a>
                        <ul>
                            <li class="menu__nav-item"><a href="book1.html">Тут будуть категорії</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a ui-sref="news-page">Блог</a>
                        <!--<ul>-->
                            <!--<li class="menu__nav-item"><a href="gallery-four.html">4 col gallery</a></li>-->
                            <!--<li class="menu__nav-item"><a href="gallery-three.html">3 col gallery</a></li>-->
                            <!--<li class="menu__nav-item"><a href="gallery-two.html">2 col gallery</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a href="#">Про нас</a>
                        <!--<ul>-->
                            <!--<li class="menu__nav-item"><a href="news-left.html">News (rigth sidebar)</a></li>-->
                            <!--<li class="menu__nav-item"><a href="news-right.html">News (left sidebar)</a></li>-->
                            <!--<li class="menu__nav-item"><a href="news-full.html">News (full widht)</a></li>-->
                            <!--<li class="menu__nav-item"><a href="single-page-left.html">Single post (rigth sidebar)</a></li>-->
                            <!--<li class="menu__nav-item"><a href="single-page-right.html">Single post (left sidebar)</a></li>-->
                            <!--<li class="menu__nav-item"><a href="single-page-full.html">Single post (full widht)</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a href="#">Mega menu</a>
                        <ul class="mega-menu container">
                            <li class="col-md-3 mega-menu__coloum">
                                <h4 class="mega-menu__heading">Now in the cinema</h4>
                                <ul class="mega-menu__list">
                                    <li class="mega-menu__nav-item"><a href="#">The Counselor</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Bad Grandpa</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Blue Is the Warmest Color</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Capital</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Spinning Plates</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Bastards</a></li>
                                </ul>
                            </li>

                            <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                                <ul class="mega-menu__list">
                                    <li class="mega-menu__nav-item"><a href="#">Gravity</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Captain Phillips</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Carrie</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Cloudy with a Chance of Meatballs 2</a></li>
                                </ul>
                            </li>

                            <li class="col-md-3 mega-menu__coloum">
                                <h4 class="mega-menu__heading">Ending soon</h4>
                                <ul class="mega-menu__list">
                                    <li class="mega-menu__nav-item"><a href="#">Escape Plan</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Rush</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Prisoners</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Enough Said</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">The Fifth Estate</a></li>
                                    <li class="mega-menu__nav-item"><a href="#">Runner Runner</a></li>
                                </ul>
                            </li>

                            <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                                <ul class="mega-menu__list">
                                    <li class="mega-menu__nav-item"><a href="#">Insidious: Chapter 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Additional header buttons / Auth and direct link to booking-->
            <div class="control-panel">
                <div class="auth auth--home">
                    <div class="auth__show">
                        <span class="auth__image">
                          <img alt="" src="http://placehold.it/31x31">
                        </span>
                    </div>
                    <a href="#" class="btn btn--sign btn--singin">
                        Дім
                    </a>
                    <ul class="auth__function">
                        <li><a href="#" class="auth__function-item">Переглянуте</a></li>
                        <li><a href="#" class="auth__function-item">Реєстрація</a></li>
                        <li><a href="#" class="auth__function-item">Коментарі</a></li>
                        <li><a href="#" class="auth__function-item">Настройки</a></li>
                    </ul>

                </div>
                <a href="#" class="btn btn-md btn--warning btn--book btn-control--home login-window">Реэстрація</a>
            </div>

        </div>
    </header>
    <div>
    <!-- Slider -->
    <div ui-view="sliderView"></div>

    <!-- Movie-Best -->

    <div ui-view="movieTop"></div>


    <!-- Main content -->
    <div ui-view="mainContentView"></div>
</div>

    <div class="clearfix"></div>

    <footer class="footer-wrapper">
        <section class="container">
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li><a href="#" class="nav-link__item">Cities</a></li>
                    <li><a href="" class="nav-link__item">Movies</a></li>
                    <li><a href="" class="nav-link__item">Trailers</a></li>
                    <li><a href="" class="nav-link__item">Rates</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li><a href="" class="nav-link__item">Coming soon</a></li>
                    <li><a href="" class="nav-link__item">Cinemas</a></li>
                    <li><a href="" class="nav-link__item">Best offers</a></li>
                    <li><a href="" class="nav-link__item">News</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li><a href="#" class="nav-link__item">Terms of use</a></li>
                    <li><a href="" class="nav-link__item">Gallery</a></li>
                    <li><a href="" class="nav-link__item">Contacts</a></li>
                    <li><a href="" class="nav-link__item">Shortcodes</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="footer-info">
                    <p class="heading-special--small">Рідне Тв<br><span class="title-edition">в соціальних мережах</span></p>

                    <div class="social">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-vk"></a>
                        <a href='#' class="social__variant fa fa-instagram"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                        <a href='#' class="social__variant fa fa-pinterest"></a>
                    </div>

                    <div class="clearfix"></div>
                    <p class="copy">&copy; Рідне ТВ 2016</p>
                </div>
            </div>
        </section>
    </footer>
</div>

<!-- open/close -->
<div class="overlay overlay-hugeinc">

    <section class="container">

        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="overlay-close">Close</button>
            <form id="login-form" class="login" method='get' novalidate=''>
                <p class="login__title">Увійти <br><span class="login-edition">Вітаємо на сайті РіднеТВ</span></p>

                <div class="social social--colored">
                    <a href='#' class="social__variant fa fa-facebook"></a>
                    <a href='#' class="social__variant fa fa-twitter"></a>
                    <a href='#' class="social__variant fa fa-tumblr"></a>
                </div>

                <p class="login__tracker">or</p>

                <div class="field-wrap">
                    <input type='email' placeholder='Email' name='user-email' class="login__input">
                    <input type='password' placeholder='Password' name='user-password' class="login__input">

                    <input type='checkbox' id='#informed' class='login__check styled'>
                    <label for='#informed' class='login__check-info'>запамятати</label>
                </div>

                <div class="login__control">
                    <button type='submit' class="btn btn-md btn--warning btn--wider">Увійти</button>
                    <a href="#" class="login__tracker form__tracker">Забули пароль?</a>
                </div>
            </form>
        </div>

    </section>
</div>



{#    {% block modal %}{% endblock modal %}#}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="{% static 'js/external/jquery-1.10.1.min.js' %}"><\/script>')</script>
        <!-- Migrate -->
        <script src="{% static 'js/external/jquery-migrate-1.2.1.min.js' %}"></script>
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
{#      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>#}
        <!-- Bootstrap 3-->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

      <!-- jQuery REVOLUTION Slider -->
        <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

        <!-- Mobile menu -->
        <script src="{% static 'js/jquery.mobile.menu.js' %}"></script>
        <!-- Select -->
        <script src="{% static 'js/external/jquery.selectbox-0.2.min.js' %}"></script>
        <!-- Stars rate -->
        <script src="{% static "js/external/jquery.raty.js" %}"></script>

        <!-- Form element -->
        <script src="{% static 'js/external/form-element.js' %}"></script>
        <!-- Form validation -->
        <script src="{% static 'js/form.js' %}"></script>



        <!-- Custom -->
        <script src="{% static 'js/custom.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>

         <!-- Angular Controllers -->
        <script src="{% static 'js/controllers/RidneCtrl.js' %}"></script>

        <!-- Angular Directives -->
        <script src="{% static 'js/directives/movieListing.js'%}"></script>

        <script src="{% static 'js/directives/slider.js' %}"></script>

        <script src="{% static 'js/directives/mainContent.js' %}"></script>

        <script src="{% static 'js/directives/kinoBox.js' %}"></script>

        <script src="{% static 'js/directives/tvBox.js' %}"></script>

        <script src="{% static 'js/directives/fullMovieList.js' %}"></script>



      <!-- Your stuff: Third-party javascript libraries go here -->
        <script type="text/javascript">
            $(document).ready(function() {
                init_Home();
            });
        </script>

        <script>
        function ridneControl(){
    console.log("Hello from controller")
}
        </script>

      <!-- place project specific Javascript in this file -->
{#      <script src="{% static 'js/project.js' %}"></script>#}
    {% endblock javascript %}
  </body>
</html>
 
