

<div class="movie">
    <h2 class="page-heading">{{info.movie_tittle}}</h2>

    <div class="movie__info">
        <div class="col-sm-4 col-md-3 movie-mobile">
            <div class="movie__images">
                <span class="movie__rating">{{info.movie_rate}}</span>
                <img alt='' src="http://placehold.it/526x773">
            </div>
            <div class="movie__rate">Your vote: <div id='score' class="score"></div></div>
        </div>

        <div class="col-sm-8 col-md-9">
            <p class="movie__time">{{info.movie_time}}</p>

            <p class="movie__option"><strong>Country: </strong>{{info.movie_country}}</p>
            <p class="movie__option"><strong>Year: </strong><a href="#">{{info.movie_year}}</a></p>
            <p class="movie__option"><strong>Category: </strong>{{info.movie_category}}</p>
            <p class="movie__option"><strong>Release date: </strong>{{info.movie_release}}</p>
            <p class="movie__option"><strong>Director: </strong><a href="#">{{info.movie_director}}</a></p>
            <p class="movie__option"><strong>Actors: </strong>{{info.movie_actors}}</p>
            <p class="movie__option"><strong>Age restriction: </strong>{{info.movie_age}}</p>
            <p class="movie__option"><strong>Box office: </strong>{{info.movie_office}}</p>

            <a href="#" class="comment-link">Comments:  {{info.movie_comment}}</a>

            <div class="movie__btns movie__btns--full">
                <a href="#" class="btn btn-md btn--warning">book a ticket for this movie</a>
                <a href="#" class="watchlist">Add to watchlist</a>
            </div>

            <div class="share">
                <span class="share__marker">Share: </span>
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <h2 class="page-heading">Опис</h2>

    <p class="movie__describe"> {{info.movie_description}} </p>

    <h2 class="page-heading">photos &amp; videos</h2>

    <div class="movie__media">
        <div class="movie__media-switch">
            <a href="#" class="watchlist list--photo" data-filter='media-photo'>234 photos</a>
            <a href="#" class="watchlist list--video" data-filter='media-video'>10 videos</a>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--First Slide-->
                <div class="swiper-slide media-video">
                    <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="movie__media-item ">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Second Slide-->
                <div class="swiper-slide media-video">
                    <a href='https://www.youtube.com/watch?v=Kb3ykVYvT4U' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Third Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Four Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--First Slide-->
                <div class="swiper-slide media-video">
                    <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="movie__media-item ">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Second Slide-->
                <div class="swiper-slide media-video">
                    <a href='https://www.youtube.com/watch?v=Kb3ykVYvT4U' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

                <!--Slide-->
                <div class="swiper-slide media-photo">
                    <a href='http://placehold.it/2100x1250' class="movie__media-item">
                        <img alt='' src="http://placehold.it/400x240">
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>