<div class="movie movie--test movie--test--dark movie--test--left">
    <div class="movie__images">
        <a ui-sref="movie-page" class="movie-beta__link">
            <img alt='' ng-src="{{ info.movie_images }}">
        </a>
    </div>

    <div class="movie__info">
        <a ui-sref="movie-page" class="movie__title">{{ info.movie_title }} </a>

        <p class="movie__time">91 min</p>

        <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">{{info.movie_rating}}</span>
        </div>
    </div>
</div>