

        <div class="movie-beta__item ">
            <a ui-sref="movie-page"><img alt='' ng-src="{{ info.image }}"></a>
            <span class="best-rate">{{ info.rate }}</span>

            <ul class="movie-beta__info">
                <li><span class="best-voted">{{ info.voted }}</span></li>
                <li>
                    <p class="movie__time">169 min</p>
                    <p>{{ info.gene }} </p>
                    <p>38 comments</p>
                </li>
                <li class="last-block">
                    <a href="movie-page-left.html" class="slide__link">more</a>
                </li>
            </ul>
        </div>



        <!--<div class="movie-beta__item second&#45;&#45;item">-->
            <!--<img alt='' src="http://placehold.it/380x600">-->
            <!--<span class="best-rate">5.0</span>-->

            <!--<ul class="movie-beta__info">-->
                <!--<li><span class="best-voted">71 people voted today</span></li>-->
                <!--<li>-->
                    <!--<p class="movie__time">169 min</p>-->
                    <!--<p>Adventure | Drama | Fantasy </p>-->
                    <!--<p>38 comments</p>-->
                <!--</li>-->
                <!--<li class="last-block">-->
                    <!--<a href="movie-page-left.html" class="slide__link">more</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="movie-beta__item third&#45;&#45;item">-->
            <!--<img alt='' src="http://placehold.it/380x600">-->
            <!--<span class="best-rate">5.0</span>-->

            <!--<ul class="movie-beta__info">-->
                <!--<li><span class="best-voted">71 people voted today</span></li>-->
                <!--<li>-->
                    <!--<p class="movie__time">169 min</p>-->
                    <!--<p>Adventure | Drama | Fantasy </p>-->
                    <!--<p>38 comments</p>-->
                <!--</li>-->
                <!--<li class="last-block">-->
                    <!--<a href="movie-page-left.html" class="slide__link">more</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="movie-beta__item hidden-xs">-->
            <!--<img alt='' src="http://placehold.it/380x600">-->
            <!--<span class="best-rate">5.0</span>-->

            <!--<ul class="movie-beta__info">-->
                <!--<li><span class="best-voted">71 people voted today</span></li>-->
                <!--<li>-->
                    <!--<p class="movie__time">169 min</p>-->
                    <!--<p>Adventure | Drama | Fantasy </p>-->
                    <!--<p>38 comments</p>-->
                <!--</li>-->
                <!--<li class="last-block">-->
                    <!--<a href="movie-page-left.html" class="slide__link">more</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="movie-beta__item hidden-xs hidden-sm">-->
            <!--<img alt='' src="http://placehold.it/380x600">-->
            <!--<span class="best-rate">5.0</span>-->

            <!--<ul class="movie-beta__info">-->
                <!--<li><span class="best-voted">71 people voted today</span></li>-->
                <!--<li>-->
                    <!--<p class="movie__time">169 min</p>-->
                    <!--<p>Adventure | Drama | Fantasy </p>-->
                    <!--<p>38 comments</p>-->
                <!--</li>-->
                <!--<li class="last-block">-->
                    <!--<a href="movie-page-left.html" class="slide__link">more</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="movie-beta__item hidden-xs hidden-sm">-->
            <!--<img alt='' src="http://placehold.it/380x600">-->
            <!--<span class="best-rate">5.0</span>-->

            <!--<ul class="movie-beta__info">-->
                <!--<li><span class="best-voted">71 people voted today</span></li>-->
                <!--<li>-->
                    <!--<p class="movie__time">169 min</p>-->
                    <!--<p>Adventure | Drama | Fantasy </p>-->
                    <!--<p>38 comments</p>-->
                <!--</li>-->
                <!--<li class="last-block">-->
                    <!--<a href="movie-page-left.html" class="slide__link">more</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
