


<div class="movie movie--preview movie--full release">
    <div class="col-sm-3 col-md-2 col-lg-2">
        <div class="movie__images">
            <a ui-sref="movie-page">  <img alt='' ng-src="{{info.movie_image}}" ></a>
        </div>
        <div class="movie__feature">
            <a href="#" class="movie__feature-item movie__feature--comment">{{info.movie_comment}}</a>
            <a href="#" class="movie__feature-item movie__feature--video">7</a>
            <a href="#" class="movie__feature-item movie__feature--photo">352</a>
        </div>
    </div>

    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
        <a ui-sref="movie-page" class="movie__title link--huge">{{info.movie_tittle}}</a>

        <p class="movie__time">{{info.movie_time}}</p>

        <p class="movie__option"><strong>Country: </strong><a href="#">{{info.movie_country }}</a></p>
        <p class="movie__option"><strong>Category: </strong><a href="#">{{info.movie_category}}</a></p>
        <p class="movie__option"><strong>Release date: </strong>{{info.movie_release}}</p>
        <p class="movie__option"><strong>Director: </strong><a href="#">{{info.movie_director}}</a></p>
        <p class="movie__option"><strong>Actors: </strong><a href="#">{{info.movie_actors}}</p>
        <p class="movie__option"><strong>Age restriction: </strong><a href="#">{{info.movie_age}}</a></p>

        <div class="movie__btns">
            <a href="#" class="btn btn-md btn--warning">book a ticket <span class="hidden-sm">for this movie</span></a>
            <a href="#" class="watchlist">Add to watchlist</a>
        </div>

        <div class="preview-footer">
            <div class="movie__rate"><div class="score"></div><span class="movie__rate-number">170 votes</span> <span class="movie__rating">{{info.movie_rate}}</span></div>


            <a href="#" class="movie__show-btn">Showtime</a>
        </div>

    </div>

    <div class="clearfix"></div>

    <!-- Time table (choose film start time)-->

    <!-- end time table-->

</div>