<section class="container">
    <div class="overflow-wrapper">
        <div class="col-sm-12">

            <h2 class="page-heading">News</h2>

            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->



            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <!-- News post article-->
            <article class="post post--news">
                <a href='single-page-full.html' class="post__image-link">
                    <img alt='' src="http://placehold.it/1600x600">
                </a>

                <h1><a href="single-page-full.html" class="post__title-link">Donec eu mollis augue, ut egestas leo</a></h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                <p class="post__text">Mauris gravida ipsum vitae libero molestie eget dignissim ipsum egestas. Quisque in eros id velit molestie placerat a ut arcu. Etiam consequat, turpis ac commodo rhoncus, justo enim consequat tortor, vitae interdum odio tellus at sem. Aliquam lacus quam, lobortis sed lacus eget, commodo volutpat nunc. Text link sample. Proin accumsan diam vel nulla ultrices congue.</p>

                <div class="tags">
                    <ul>
                        <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                        <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                    </ul>
                </div>

                <div class="devider-huge"></div>
            </article>
            <!-- end news post article-->

            <div class="pagination">
                <a href='#' class="pagination__prev">prev</a>
                <a href='#' class="pagination__next">next</a>
            </div>

        </div>
    </div>
</section>

<div class="clearfix"></div>