<!-- Slider -->


<div class="bannercontainer">
    <div class="banner">
        <ul>

            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Rush.'>
                <img alt='' src="http://placehold.it/1920x616">
                <div class="caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"

                     data-splitin="chars"
                     data-elementdelay="0.1"

                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"

                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"

                     data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "


                     data-splitout="lines"
                     data-endelementdelay="0.1"
                     data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"

                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn"
                        >
                    RUSH
                </div>

                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-243'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn"
                        >
                    From
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-hoffset='-149'
                     data-y="186"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn"
                        >
                    October 18
                </div>
                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-113'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn"
                        >
                    - till
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-y="186"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn"
                        >
                    November 01
                </div>
                <div class="caption slide__text margin-slider customin customout"
                     data-x="right"
                     data-y="250"
                     data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="400"
                     data-start="3000"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Back.easeIn">
                    Two-time Academy Award winner Ron Howard, teams once again with fellow two-time Academy<br> Award nominee, writer Peter Morgan , on Rush, a spectacular big-screen re-creation of the merciless<br> 1970s rivalry between James Hunt and Niki Lauda.
                </div>
                <div class="caption margin-slider skewfromright customout "
                     data-x="right"
                     data-y="324"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="400"
                     data-start="3300"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-end="7700"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="slide__link">check out cinemas &amp; time</a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="7" class="slide fading-slide" data-slide='Travel worldwide.
Create trip film.'>
                <img alt='' src="http://placehold.it/1920x616">
                <div class="caption slide__video" data-x="0" data-y="0" data-autoplay='true'>
                    <video class="media-element"  autoplay="autoplay" preload='none' loop="loop" muted="" src="../video/53170154.mp4" >
                        <source type="../video/webm" src="../video/53170154.webm">
                        <source type="../video/mp4" src="../video/53170154.mp4">
                        <source type="../video/ogg" src="../video/53170154.ogv">
                    </video>
                </div>

                <div class="caption slide__name slide__name--smaller"
                     data-x="left"
                     data-y="160"

                     data-splitin="chars"
                     data-elementdelay="0.1"

                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"

                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"

                     data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "


                     data-splitout="lines"
                     data-endelementdelay="0.1"
                     data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                     data-endspeed="500"

                     data-endeasing="Back.easeIn"
                        >
                    Travel, Admire, Remember.
                </div>

                <div class="caption slide__time position-center postion-place--one sfr stl"
                     data-x="left"

                     data-y="242"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"

                     data-endeasing="Back.easeIn">
                    From
                </div>
                <div class="caption slide__date position-center postion-place--two lfb ltb"
                     data-x="left"
                     data-y="242"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"

                     data-endeasing="Back.easeIn">
                    April 18
                </div>
                <div class="caption slide__time position-center postion-place--three sfr stl"
                     data-x="left"
                     data-y="242"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"

                     data-endeasing="Back.easeIn">
                    - till
                </div>
                <div class="caption slide__date position-center postion-place--four lfb ltb"
                     data-x="left"
                     data-y="242"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"

                     data-endeasing="Back.easeIn">
                    May 01
                </div>

                <div class="caption lfb slider-wrap-btn ltb"
                     data-x="left"
                     data-y="310"
                     data-speed="400"
                     data-start="3300"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"

                     data-endeasing="Power4.easeOut" >
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing.
Start doing.'>
                <img alt='' src="http://placehold.it/1920x616">
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                     data-x="left"
                     data-y="160"

                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-endspeed="500"
                     data-end="8600"
                     data-endeasing="Back.easeIn"

                        >
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout"
                     data-x="left"
                     data-y="240"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="2000"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn"
                     data-x="left"
                     data-y="310"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Power4.easeOut" >
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>

        </ul>
    </div>
</div>


<!--end slider -->